.vscode/
build/
out/
.vs/
development/
test/

*.ppm
*.jpg

out.bmp
out.folded
out.perf-folded
out.png

test*
raytracer*
perf*

.gdb_history
shaders
tmp

benchmarking/*.blend*
benchmarking/

benchmarking/classroom
benchmarking/test*
benchmarking/presentation
benchmarking/benchmark-campaign/results
benchmarking/benchmark-campaign/venv